<!DOCTYPE html>
{% extends "grocery_management/base.html" %} {% block body_block %}
{% block body5 %} 
active
{% endblock %}
<!-- Page Content -->
<div
  class="page-heading about-heading header-text"
  style="background-image: url(/static/images/aboutus.jpg)"
>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-content">
          <h4>About Us</h4>
          <h2>Our Company</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="best-features about-features">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>Visit Us for quality products !!</h2>
        </div>
      </div>
      <div class="col-md-6">
        <div class="right-image">
          <img src="/static/images/about1.jpg" alt="" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="left-content">
          <h4>About Us</h4>
          <p>
            What began little, with a solitary idea of a store that provides
            rebate and the basic thought of moving more for less, has become in
            the course of the last 40 years into the biggest retailer in this
            whole country. Every week, about 265 million clients and individuals
            visit our in excess of 13,200 stores under 55 standards in 27
            nations and eCommerce sites in 10 nations. With financial year 2018
            income of $500.3 billion, ‘Organization Name’ utilizes over 2.2
            million partners around the world.
          </p>
          <ul class="social-icons">
            <li>
              <a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-linkedin"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-behance"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="team-members">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>History</h2>
          <p>
            Our Organization keeps on being an innovator in support ability,
            corporate magnanimity and work opportunity. It’s everything part of
            our relentless promise to making openings and conveying an incentive
            to clients and networks the world over.
          </p>
        </div>

        <h5>Team Members</h5>
        <h4 class="h3">About our office</h4>
        <p class="h5">
          We are students of Panel 4. This is our Mini Project for the Subject
          of WTL
        </p>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Sr No</th>
              <th scope="col">Roll No</th>
              <th scope="col">Name</th>
              <th scope="col">ERP</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>PD10</td>
              <td>Rajat Belgundi</td>
              <td>1032180203</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>PD11</td>
              <td>Kartik Bhutda</td>
              <td>1032180229</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>PD12</td>
              <td>Amey Bhide</td>
              <td>1032180301</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>PD32</td>
              <td>Divyang Bagla</td>
              <td>1032180739</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}
