<!DOCTYPE html>
{% extends "grocery_management/base.html" %}

{% block body_block %}

<!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="banner header-text">
        <div class="owl-banner owl-carousel">
          <div class="banner-item-01">
            <div class="text-content">
              <h4>Welcome to our store!<h4>
              <h2>Directly at your Doorsteps</h2>
            </div>
          </div>
          <div class="banner-item-02">
            <div class="text-content">
              <h4>Fresh Vegetables</h4>
              <h2>Directly at your Doorsteps</h2>
            </div>
          </div>
          <div class="banner-item-03">
            <div class="text-content">
              <h4>Get items at an affordable price</h4>
              <h2>Directly at your Doorsteps</h2>
            </div>
          </div>
        </div>
      </div>
      <!-- Banner Ends Here -->
  
      <div class="latest-products">
        <div class="container">
          <div class="row">
            {% for item in Items %}
            <div class="col-md-4">
                <div class="product-item">
                  <a href="product-details.html"><img src='/static/images/{{item.item_name}}.jfif' alt=""></a>
                  <div class="down-content">
                    <a href="product-details.html"><h4>{{item.item_name}}</h4></a>
                    <h6><small><del>$999.00 </del></small> '₹{{item.price}}'</h6>
                    <p>{{item.description}}</p>
                    <div class="row">
                      <div class="form-group">
                        <label for="sel1">Select quantity</label>
                        <select class="form-control" id="sel1">
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                        </select>
                        <p>{{item.quantity_type_id}}</p>
                      </div>
                     
                    </div>
                    <form method="get" action="addToCart/{{item.id}}">
                    <button type="submit" class="btb btn-primary btn-block">Add to Cart</button>
                    </form>
                  </div>
                </div>
              </div>            
            {% endfor %}
            <div class="col-md-12">
              <div class="section-heading">
                <h2>Featured Products</h2>
                <a href="products.html">view more <i class="fa fa-angle-right"></i></a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="product-item">
                <a href="product-details.html"><img src="/static/images/product-1-370x270.jpg" alt=""></a>
                <div class="down-content">
                  <a href="product-details.html"><h4>Lorem ipsum dolor sit amet.</h4></a>
                  <h6><small><del>$999.00 </del></small> $779.00</h6>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum dicta voluptas quia dolor fuga odit.</p>
                </div>
              </div>
            </div>
  
            <div class="col-md-4">
              <div class="product-item">
                <a href="product-details.html"><img src="/static/images/product-2-370x270.jpg" alt=""></a>
                <div class="down-content">
                  <a href="product-details.html"><h4>Lorem ipsum dolor sit amet.</h4></a>
                  <h6><small><del>$99.00</del></small>  $79.00</h6>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non beatae soluta, placeat vitae cum maxime culpa itaque minima.</p>
                </div>
              </div>
            </div>
  
            <div class="col-md-4">
              <div class="product-item">
                <a href="product-details.html"><img src="/static/images/product-3-370x270.jpg" alt=""></a>
                <div class="down-content">
                  <a href="product-details.html"><h4>Lorem ipsum dolor sit amet.</h4></a>
                  <h6><small><del>$1999.00</del></small>   $1779.00</h6>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt nisi quia aspernatur, harum facere delectus saepe enim?</p>
                </div>
              </div>
            </div>
  
            <div class="col-md-4">
              <div class="product-item">
                <a href="product-details.html"><img src="/static/images/product-4-370x270.jpg" alt=""></a>
                <div class="down-content">
                  <a href="product-details.html"><h4>Lorem ipsum dolor sit amet.</h4></a>
                  <h6><small><del>$999.00 </del></small> $779.00</h6>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum dicta voluptas quia dolor fuga odit.</p>
                </div>
              </div>
            </div>
  
            <div class="col-md-4">
              <div class="product-item">
                <a href="product-details.html"><img src="/static/images/product-5-370x270.jpg" alt=""></a>
                <div class="down-content">
                  <a href="product-details.html"><h4>Lorem ipsum dolor sit amet.</h4></a>
                  <h6><small><del>$999.00 </del></small> $779.00</h6>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum dicta voluptas quia dolor fuga odit.</p>
                </div>
              </div>
            </div>
  
            <div class="col-md-4">
              <div class="product-item">
                <a href="product-details.html"><img src="/static/images/product-6-370x270.jpg" alt=""></a>
                <div class="down-content">
                  <a href="product-details.html"><h4>Lorem ipsum dolor sit amet.</h4></a>
                  <h6><small><del>$999.00 </del></small> $779.00</h6>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum dicta voluptas quia dolor fuga odit.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="best-features">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="section-heading">
                <h2>About Us</h2>
              </div>
            </div>
            <div class="col-md-6">
              <div class="left-content">
                <p>What began little, with a solitary idea of a store that provides rebate and the basic thought of moving more for less, has become in the course of the last 40 years into the biggest retailer in this whole country. Every week, about 265 million clients and individuals visit our in excess of 13,200 stores under 55 standards in 27 nations and eCommerce sites in 10 nations. With financial year 2018 income of $500.3 billion, ‘Organization Name’ utilizes over 2.2 million partners around the world.</p>
                <ul class="featured-list">
                  <li><a href="#">No base request amount required.</a></li>
                  <li><a href="#">Free home delivery on requests above ₹200.</a></li>
                  <li><a href="#">We convey all over Pune.</a></li>
                  <li><a href="#">Request before 12.00pm on weekdays for same day dispatch.</a></li>
                </ul>
                <a href="{% url 'grocery_management:aboutus' %}" class="filled-button">Read More</a>
              </div>
            </div>
            <div class="col-md-6">
              <div class="right-image">
                <img src="/static/images/about1.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="call-to-action">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="inner-content">
                <div class="row">
                  <div class="col-md-8">
                    <h4>Want to know more ?</h4>
                    <p>Reach out to us at grocerypune@gmail.com</p>
                  </div>
                  <div class="col-lg-4 col-md-6 text-right">
                    <a href="{% url 'grocery_management:contactus' %}" class="filled-button">Contact Us</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      
    
  

{% endblock %}