<!DOCTYPE html>

{% extends 'grocery_management/base.html' %} {% block body_block %}
{% block body2 %}
active
{% endblock %}
<div
  class="page-heading about-heading header-text"
  style="background-image: url(/static/images/products.jpg)"
>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-content">
          <h4>Groceries At Your Doorstep</h4>
          <h2>Products</h2>
          <br />
          <!-- <form class="example" action="action_page.php">
                <input type="text" placeholder="Search.." name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
              </form> -->
          <div class="active-cyan-4 mb-4">
            <form method="POST" action="search/">
              {% csrf_token %}
              <div class="row">
                <input
                  name="searchString"
                  class="form-control col-md-10"
                  type="text"
                  placeholder="Search"
                  aria-label="Search"
                />
                <button class="btn btn-secondary col-md-2" type="submit">
                  Search
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% for message in messages %} {% if "addToCart" in message.tags %}
<div class="alert {{ message.tags }} alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  {{ message }}
</div>
{% endif %} {% endfor %}
<div class="products">
  <div class="container">
    <div class="row">
      {% for item in Items %}
      <div class="col-md-4">
        <div class="product-item">
          <a href="product-details.html"
            ><img src="/static/images/{{item.item_name}}.jpg" alt=""
          /></a>
          <div class="down-content">
            <a href="product-details.html">
              <h4>{{item.item_name}}</h4>
            </a>
            <h6>'₹{{item.price}}'</h6>
            <p>{{item.description}}</p>
            <div class="row"></div>
            <form method="get" action="addToCart/{{item.id}}">
              <button type="submit" class="btb btn-primary btn-block">
                Add to Cart
              </button>
            </form>
          </div>
        </div>
      </div>
      {% endfor %}
      <div class="col-md-12">
        <ul class="pages">
          {% if Items.has_previous %}
          <li><a href="?page={{ Items.previous_page_number}}"><i class="fa fa-angle-double-left"></i></a></li>
          {% endif %}
          {% if Items.has_next %}
          <li><a href="?page={{ Items.next_page_number}}"><i class="fa fa-angle-double-right"></i></a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock %}
